@model IEnumerable<CoronaV2.Models.State>


<select class="form-control" id="StateID" name="StateID">
    <option value="">@CoronaV2.Resources.Language.SelectState</option>
    @foreach (var item in Model)
    {
        <option value="@item.StateID">@item.State1</option>
    }
</select>

