
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>@CoronaV2.Resources.Language.VerifyAccount</h2>
<hr />
@if(ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Sucess!</strong> Your account has been activated successfully. Click here to @Html.ActionLink("Login","Login","User")
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}